In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from sklearn.ensemble import RandomForestClassifier #for the model
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report #for model evaluation
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
dt= pd.read_csv("heart.csv")

In [3]:
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = dt.iloc[:,:-1]
Y = dt['target']

In [5]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = .2, random_state=10)

In [6]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
183,58,1,2,112,230,0,0,165,0,2.5,1,1,3
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3
126,47,1,0,112,204,0,1,143,0,0.1,2,0,2
184,50,1,0,150,243,0,0,128,0,2.6,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3
121,59,1,0,138,271,0,0,182,0,0.0,2,0,2
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
283,40,1,0,152,223,0,1,181,0,0.0,2,0,3

# CLASSIFIER

In [16]:
dtc = DecisionTreeClassifier(
        criterion='gini',
        splitter='best',
        max_depth=5,
        min_samples_split=2,
        min_samples_leaf=1,
        random_state=10,
        max_leaf_nodes=5)

dtc.fit(X_train, Y_train)
dtc.pred = dtc.predict(X_test)
print("The Accuracy is", accuracy_score(Y_test,dtc.pred)*100)

The Accuracy is 72.1311475409836

In [17]:
random = RandomForestClassifier(criterion='gini',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=5,
    bootstrap=True,
    random_state=100)
random.fit(X_train,Y_train)
random_pred = random.predict(X_test)
print("The Accuracy is", accuracy_score(Y_test,random_pred)*100)

The Accuracy is 78.68852459016394

In [18]:
import pickle
with open('heart_disease.pkl','wb') as file:pickle.dump(random,file)